.common {
    background-color: #f1f2f6;
}



.page-title {
    font-weight: 600;
    font-size: 20px;
    background-color: white;
    padding: 15px;
}

.jus-sp-between {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}